
	
/*global resets to get grid onto device width*/
body {
	min-width: 0;

}

body * {
	max-width: 100% !important;
	box-sizing:border-box;
}

/*utility classes*/

.no-mobile {
	display: none !important;
}

/*grid resets and top level content wrappers*/


#content > div {
	margin: 0 auto 0 auto;
}

#content .content_wrapper {
	margin: 0;
}

#content .ad_wrapper-block > div {
	width: 100%;
}

.column-two, .column{
	width: 100%;
}

.column {

}

body.home #content div.content_wrapper {
	border-top: 1px solid #CCCCCC;
	padding-top: 20px !important
}

/*header styles*/


a#logo {
	position: fixed;
	left: inherit;
	right:10px;
	width: 36px;
	height: 36px;
	background: url('images/icons/apple-touch-icon-57x57.png') no-repeat;
	background-size: contain;
}

div.nav {
	position: fixed;
	display:none;
	background: white;
	top: 0px;
}

#hamburger {
	display: block;
	position: fixed;
	z-index: 20;
	
}

.nav-icons {
	display:none;
}

#menu-main-menu {
	background: white;
	top:0;
	padding: 20px 0 0 10px;
	border-bottom: solid 1px black;
}

ul.sub-menu {
	position:static !important;
	background: white !important;
	border-left: solid 1px black;
	padding: 0 0 0 5px !important;
}

ul.sub-menu li {
	display: block !important;
}

ul.sub-menu li a {
	color: black !important;
	vertical-align: top;
}

ul.sub-menu .arrow {
	display:none;
}

li#menu-item-15636 {
	background: url('images/slash.png') left bottom no-repeat;
}

#menu-main-menu > li {
	display: block;
}

#menu-main-menu > li > a {
	display: block;
	text-align: left;
}

#header {
	height: 50px;
}

#header, #header.pinned {
	background: transparent;
	padding-top: 0;
	/*margin-bottom: 10px;*/
}

#header_inner.inner_wrap {
	/*max-width: 400px;*/
	width: 100%;
	padding: 5px;
	height: 46px;
}

/*home feed styles*/

.latest-home ul {
	width: 100%;
	margin-top: 10px;
}

.home-feed-post-info h2 {
	font-size: 20px;
}

li.home-feed-side-by-side .home-feed-post-info h2 {
	height: initial;
}

.home-feed-post-img-wrap {
	width: initial;
}

.home-feed-post-img-wrap a img {
	width: 105px;
	height: 200px;
	margin: 0 .3em .3em 0;
}

.home-feed-prod-row {

	clear: left;
}

li.home-feed-side-by-side {
	width: initial;
	height: initial;
}

.home-feed-post-info {
	margin: 0;
}

/*sectioanl heading styles*/

.section-heading h2 {
	white-space: initial;
	font-size:25px;
}

.section-heading.first h2 {
	border-bottom: 1px solid black;
}


/*footer styles*/

#footer {
	width: 100%;
	padding-bottom: 0;
}

#menu-footer-menu li {
	display: block;
}

.foot-nav {
	margin-bottom: 50px;

}

.foot-nav li a {
	font: 16px/18px "Oswald",arial,sans-serif; 
}

.foot-copy {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.foot-copy * {
	display: block;
}


/*styles explicitly for single*/
.shop-main .right-col .text-holder {
	height:100%;
	margin: 0 10px 0 10px;
}

#shop-slider-small.prod-row.small {
	height: 100%;
}

.shop-main .column-three {
	height: 100%;
}

#shop-slider-1.prod-row {
	height: initial;
}

.shop .column-three h2 {
	margin-top: 0px;
	font: 18px/18px "Oswald",arial,sans-serif;
}
.shop-published-by {
	position: initial
}

.column-three .left-col{
	float: none;
}

.shop-main .inner {
	margin: 0 auto;
}

.shop-main p {
	font: 16px/22px "AvenirNext LT Pro Regular",arial,sans-serif; 
}

.prod-row.small ul li {
	width: 100%;
}

@media screen and (min-width: 400px){
	/*targeting landscape here*/

	.prod-row.small ul li {
		width: 31%;
	}

	.morelike div.row.no-border {
		margin: 15px 0 0 15px;
	}

	.morelike div.row.no-border > div {
		width: 170px !important;	

	}

	.prod-row {
		padding: 30px 0 8px 17px;
	}
}


.col_5 p {
	font: 14px/14px "AvenirNext LT Pro Regular",arial,sans-serif !important;
}

.prod-row ul li {
	display: inline-block;
	margin: 10px 0 10px 0;
	float: none;
	width: 133px;
}
@media screen and (max-width: 400px) {

	.morelike div.row.no-border {
		width: 186px; 
		margin: 10px auto 0 auto;
	}

	.prod-row {
		padding: 30px 0 8px 25px;
	}

}

.morelike div.row.no-border > div {
	margin-bottom: 10px;
}



.category-list {
	padding-left: 15px;
}

.prod-section {
	padding-left: 15px !important; 
}

/*styles for single influencer page*/

.cols.browse-col {
	margin: 0;
}

div.archive-col, .profile-loop div.archive-col {
	width: 100%;
	margin: 0 0 20px 0;

}

.browse-row.browse-row {
	margin: 0;
}

.ad-300-600 {
	height: initial;
}

div.archive-col .img-hold img, .profile-loop div.archive-col .img-hold img {
	padding-bottom: 70px;
}

div.archive-col .text-box {
	width: initial;
}

.single-inf_influencer .profile-image {
	height: initial !important;
}




